[Unit]
Description=DS18B20 Temperature Logging

[Service]
ExecStart=</path/to/tempmon/bin/tempmon>
Restart=always
Environment="DATA_DIRECTORY=/var/tempmon/data"
Environment="PORT=80"

[Install]
WantedBy=multi-user.target