.page {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-height: 100vh;
  margin-bottom: 5vmin;
}

current-temp {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 40vmin;
  width: 40vmin;
  padding: 20px;
  margin: 3vmin;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-family: Roboto, sans;
}

@media only screen and (max-width: 1900px) {
  current-temp {
    padding: 0;
    margin: 1vmin;
    height: 30vmin;
    width: 30vmin;
  }
}
@media only screen and (max-width: 1200px) {
  html,
  body,
  current-temp {
    padding: 0;
    margin: 0;
  }
  current-temp {
    min-height: 105px;
    height: 20vh;
    width: 100%;
  }
}
current-temp .card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 2px;
}

current-temp .loader {
  margin-bottom: 2vmin;
}

current-temp .lds-dual-ring:after {
  border: 6px solid rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.9) transparent rgba(255, 255, 255, 0.9)
    transparent;
}

current-temp .temp {
  font-size: max(10vmin, 48px);
}

current-temp .label {
  font-size: max(1.5vmin, 24px);
  cursor: pointer;
}

app,
line-chart {
  display: block;
}
